.button {
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  width: 100%;
  color: var(--color-white);
  padding: 0.550rem 1rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.button__icon.left {
  margin-right: 0.25rem;
}

.button__icon.right {
  margin-left: 0.25rem;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}