.button {
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  width: 100%;
  color: var(--color-white);
  padding: 0.550rem 1rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &.outlined {
    background-color: transparent;
    border: var(--border);
    color: var(--color-black);
    font-weight: 400;

  }

  &.filter {
    padding: 0.250rem;
    font-size: 0.875rem;
    background-color: var(--color-gray-button);
    color: var(--color-black);
    font-weight: 400;
    width: fit-content;
  }

  &.ghost {
    background-color: transparent;
    padding-inline: 0;
    color: var(--color-gray-text);
    width: 44px;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:active {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}