.category-form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  @media (max-width: 768px) {
    gap: 1rem;
  }

  & h2 {
    font-size: 1.125rem;
  }

  & .wrapper {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1rem;
    align-items: flex-end;
  }

  .actions {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;

    @media (max-width: 425px) {
      flex-direction: column;
    }
  }
}