.search-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-form .wrapper {
  display: grid;
  grid-template-columns: 6fr auto;
  gap: 1rem;

  @media (max-width: 460px) {
    grid-template-columns: 1fr;
  }
}

.search-form .wrapper:nth-child(2) {
  display: flex;
}

.filter-options button {
  min-width: 100%;
}