.task {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-start;
  position: relative;

  & > div {
    display: flex;
    gap: 1rem;
  }

  &.today::before,
  &.overdue::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    width: 4px;
    height: 90%;
    border-radius: 25px;
  }

  &.overdue {
    background: linear-gradient(to right, #fef2f2 0%, white 20%);


    &::before {
      background: #ef4444;
    }
  }

  &.today {
    background: linear-gradient(to right, #fffbeb 0%, white 20%);

    &::before {
      background: #f59e0b;
    }
  }

  .task-content {
    gap: 1rem;
  }

  .task-info {
    width: 100%;
    min-width: 0;

    & label {
      line-height: 1.2;
      font-size: 1.2rem;
      user-select: text;

      &:active {
        user-select: none;
      }
    }

    & p {
      margin-block: 0.8rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-word;
    }

    .task-other {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;


    }
  }

  .task-actions {
    align-items: flex-start;
    gap: 0.2rem;
    justify-content: center;
  }


  &.completed {
    opacity: 0.6;

    .task-title {
      text-decoration: line-through;
    }
  }
}