.task {
  display: grid;
  grid-template-columns: 6fr auto;
  align-items: flex-start;
  position: relative;

  @media (max-width: 425px) {
    .task-title {
      font-size: 12px;
    }
  }

  & > div {
    display: flex;
    gap: 1rem;
  }

  &.today::before,
  &.overdue::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    width: 4px;
    height: 90%;
    border-radius: 25px;
  }

  &.overdue {
    background: linear-gradient(to right, #fef2f2 0%, white 20%);


    &::before {
      background: #ef4444;
    }
  }

  &.today {
    background: linear-gradient(to right, #fffbeb 0%, white 20%);

    &::before {
      background: #f59e0b;
    }
  }

  .task-content {
    gap: 1rem;

    @media (max-width: 425px) {
      gap: 0.6rem;
    }
  }

  .task-info {
    width: 100%;
    min-width: 0;

    & label {
      line-height: 1.2;
      font-size: 1.2rem;

      @media (max-width: 425px) {
        font-size: 16px;
      }
    }

    & p {
      margin-block: 0.8rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
      word-break: break-word;

      @media (max-width: 425px) {
        font-size: 14px;
        margin-block: 0.2rem;
      }
    }

    .task-other {
      display: flex;
      gap: 0.4rem;
      margin-top: 1rem;
      justify-content: space-between;

      @media (max-width: 425px) {
        margin-top: 0.4rem;
      }

      .task-badges {
        display: flex;
        gap: 1rem;

        @media (max-width: 375px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 0.4rem;
        }

      }

      .task-actions-mobile {
        display: none;
        align-items: flex-end;

        @media (max-width: 768px) {
          display: flex;
        }
      }
    }
  }

  .task-actions {
    align-items: flex-start;
    gap: 0.2rem;
    justify-content: center;
    display: none;

    @media (min-width: 769px) {
      display: flex;
    }
  }

  &.completed {
    opacity: 0.6;

    .task-title {
      text-decoration: line-through;
    }
  }
}