.add-task-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-task-form h2 {
  font-size: 1.125rem;
}

.add-task-form > .field:not(:last-child) {
}

.other-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}