.add-task-form {
  background-color: #fff;
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-task-form h2 {
  font-size: 1.125rem;
}

.add-task-form > .field:not(:last-child) {
}

.other-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}