.header {
  background-color: var(--color-white);
  padding-block: 1rem;
  border-bottom: var(--border);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 1.5rem;
}