.add-task-form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  & h2 {
    font-size: 1.125rem;
  }

  & .actions {
    display: flex;
    gap: 1rem;

    @media (max-width: 550px) {
      flex-direction: column;
    }
  }

  & .other-info {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 425px) {
      flex-direction: column;
      align-items: flex-start;

      & div {
        width: 100%;
      }
    }
  }
}



