.category-item {
  position: relative;

  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .category-name {
      display: flex;
      align-items: center;
    }
  }
}