.nav {
  display: flex;

  & ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    color: var(--color-gray-4);

    @media (max-width: 460px) {
      font-size: 12px;
      gap: 1rem;
    }
  }

  & a {
    color: var(--color-gray-text);
    position: relative;
    text-decoration: none;
    padding-bottom: 0.25rem;
    transition: all 0.3s ease;

    &:hover {
      color: #000;
    }

    &.is-active {
      color: var(--color-black);
    }

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background-color: var(--color-blue);
      left: 0;
      bottom: 0;
      transition: all 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }

    &.is-active::after {
      width: 100%;
    }
  }
}
